/**
 * Styles for the add-observation.html page 
 */


 .required{
     color: red;
 }

#message{
    color: red;
}


#message2{

    color: red;
}

#description, #photographer, #photographer_id{
    width: 508px;

}

#note{
    width: 526px;
}

#license{
    width: 526px;
}